@model Sportify.Models.Gym

@{
    ViewData["Title"] = "Salon Sil";
}

<h3>Bu salonu silmek istediğinize emin misiniz?</h3>

<div>
    <h4>@Model.GymName</h4>
    <p>Açılış: @Model.OpenTime</p>
    <p>Kapanış: @Model.CloseTime</p>
</div>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.GymId">
    <input type="hidden" asp-for="GymId" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
