@model Sportify.Models.Trainer

@{
    ViewData["Title"] = "Eğitmen Sil";
}

<h3>Bu eğitmeni silmek istediğinize emin misiniz?</h3>

<div>
    <h4>@Model.TrainerName</h4>
    <p>Açılış: @Model.WorkStartTime</p>
    <p>Kapanış: @Model.WorkEndTime</p>
</div>

<form asp-controller="Trainer" asp-action="DeleteConfirmed" asp-route-id="@Model.TrainerId" method="post">
    <input type="hidden" asp-for="TrainerId" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
